<ion-view view-title="عن المطور">
  <ion-content>
    <div class="card rtl">
      <div class="item item-divider">
        الشركة المطورة
      </div>
      <div class="item item-text-wrap text-center">
        <a href="http://dawaey.com">© Dawaey</a>
      </div>
    </div>
    <div class="list card rtl">

      <!-- <a href="#" class="item item-icon-right">
        <i class="icon ion-home"></i> شبين الكوم - المنوفية - مصر
      </a> -->

      <div class="item item-divider">
        تحت اشراف
      </div>

      <a href="https://www.facebook.com/DrOs96" class="item item-icon-right">
        <i class="icon ion-card"></i> د / أسامة سليمان
      </a>
      <a href="#" class="item item-icon-right sans">
        <i class="icon ion-ios-email"></i> osama@dawaey.com
      </a>
    </div>
    <!-- <div class="card rtl">
      <div class="item item-divider">
        مصمم جرافيك و UI
      </div>
      <div class="item item-text-wrap text-center">
        <a href="https://www.facebook.com/mohammed.adell">Mohammed Adell</a>
      </div>
    </div> -->
  </ion-content>
</ion-view>
