<ion-view>
  <ion-nav-bar class="bar-positive">
    <ion-nav-buttons side="left">
      <button class="button button-clear no-animation" ng-click="startApp()" ng-if="!slideIndex">
        تخطي
      </button>
      <button class="button button-clear no-animation" ng-click="previous()" ng-if="slideIndex > 0">
        رجوع
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-clear no-animation" ng-click="next()" ng-if="slideIndex != 2">
        التالي
        <i class="ion-chevron-right"></i>
      </button>
      <button class="button button-clear no-animation" ng-click="startApp()" ng-if="slideIndex == 2">
        دخول
        <i class="ion-arrow-right-b"></i>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-slide-box on-slide-changed="slideChanged(index)">
    <ion-slide class="introslider1">
      <div>
        <p class="stcfont introtext1"> {{type}}</p>
      </div>
    </ion-slide>
    <ion-slide class="introslider2">
      <div class="text-right introtext">
        <h4 class="stcfont white rtl">1- قم باختيار نوع البحث</h4>
        <img class="dropdownimg" src="img/dropdown.png" alt="" />
        <h4 class="stcfont white rtl">2- ادخل معلومات الدواء المراد البحث عنه</h4>
        <img class="dropdownimg" src="img/input.png" alt="" />
        <h4 class="stcfont white rtl">3- للمزيد اضغط مزيد من المعلومات</h4>
        <img src="img/moreinfo.png" alt="" />
        <p class="stcfont introtext2"> تطبيق دوائي التطبيق يتميز بسهولة البحث ويوفر
 للمستخدمين من كافة الفئات الطريقة الاسهل والامثل
للبحث عن الدواء
</p>
      </div>
      <div>

      </div>
    </ion-slide>
    <ion-slide class="introslider3">
      <h4 class="stcfont white textshadow">لمزيد من المعلومات و الأسئلة والاقتراحات حول التطبيق
يرجى مراسلتنا على البريد الإلكتروني
</h4>
      <p>
        <a class="white textshadow" href="mailto:app@dawaey.com">app@dawaey.com</a>
      </p>
      <h3 class="stcfont white textshadow goenter">اتفضل ادخل على التطبيق من هنا</h3>
      <button ng-click="startApp()" class="button introbtn wider">
        دخول دوائي
      </button>

      <!-- <h3 class="stcfont white">أو قم بانشاء حساب جديد</h3>
      <button ng-click="signUp()" class="button introbtn wider">
        انشاء حساب
      </button> -->
    </ion-slide>
  </ion-slide-box>
</ion-view>
